#container {
    width: auto;
    height: auto;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto';
}
.map{
    width:103%;
    margin-left: -9px;
}
/*header css styles*/
.header{
    display: grid;
    grid-template-columns: 33% auto; /*creating grid for logo and navigation block 2blocks*/
    grid-template-rows: 10px 50px;
    margin:50px;
}

.logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:2;
    margin: 6px 7px auto;
}   

/* .horizontal{
    display:table;
    margin: 50px auto;
} */

ul.navbar{
    min-width: 100%;
    list-style: none;
    padding-top: 20px;
    padding-inline-start: 1px;
    }
ul.navbar li{
        display:inline;
        margin-left: 2%;
    }

.navbar{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:3;
    justify-self: stretch;
    margin-right: 1px;
    margin-top: 6.2%;
}


.navbar a:hover{
text-decoration: none;
color: #222222;
border-bottom: 5px solid #bbbdc0;
padding-bottom: 30px;
width: 100%;
-webkit-transition: 0.5s ease;
transition: 0.5s ease;
animation-play-state: paused;

} 

.navbar a{
        text-decoration: none;
        color: #111111;
}


.meniu-dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9fa;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:160px;
    left: 212px;
}

.meniu-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    top:25px;
}

.meniu-dropdown.show {display: block;}


.icon{
    display:none;
}
/*header style ends*/

/*---------------------------------------*/

/*contacts block style*/
a{
color: #000000;
}
span{
    color: #81868d
}
.add-space{
    margin-bottom: 8px;
}
.contacts{
    display: grid;
    grid-template-columns: 6% 88% 6%;
    grid-template-rows: 10% 60%;
}
#contact{
    font-size: 45px;
}
.contact-intro{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 1%;
    text-align: center;
    justify-self: center;
    color: #222222;
}

.other-info{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 6% 42% 2% 42% 6%;
    grid-template-rows: 25% 26% 26% 19% 26% 65% 55%;
    line-height: 1.3;
}

.company-block{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 1.4;
}
.hours-block{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 1.4;

}
.address-block{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    line-height: 1.4;

}
.support-block{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    line-height: 1.4;

}
.other-info .name{
    font-size: 25px;
    color: #222222;
    margin-bottom: 10px;
}

.person1-block{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
    line-height: 30px;
}

.person2-block{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    text-align: center;
    line-height: 30px;
}

.role{
    text-transform: uppercase;
    font-size:12px;
    color: #375a86;
}
.photo{
    margin-bottom: 15px;
    width: 25%;
}

.social-networks{
    margin-top: 15px;
    width:13%;
    margin-right: 12px;
}
/*contacts block style ends*/

/*---------------------------------------*/


/*form and try out style*/

#contact-form-products{
    margin-top: 30%;
    background-color: #f9f9fa;
    display: grid;
    margin-left: -11px;
    margin-right: -11px;
    grid-template-columns: 6% 88% 6%;
    grid-template-rows: 5% 19% 35% 37% 50%;
}

#contact-form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45px 45px 100px 100px 100px 100px;
    text-align: center;
}

#form-name{
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 30px;
}

#contact-form #form input[type="text"],
#contact-form #form input[type="email"],
#contact-form #form textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    background: transparent;
    margin-bottom: 10px;
    font: 14px 'Roboto', Helvetica, sans-serif;
    height: 45px;
}
#contact-form textarea{
    resize:none;
    overflow: hidden;
}
#contact-form input:focus{
    border-bottom: 1px solid #111111;
}

#send-button{
    border: 2px solid #111111;
    color: #111111;
    padding: 15px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;  
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    font-family: 'Roboto';
}

#send-button:hover {
    background-color: #111111;
    color: #ffffff
}

#try-products{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 8% 20% 20% 10%;
    background-color: #ffffff;
    text-align: center;
}

#product-main{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 25px;
    justify-self: center;
}

#tryout1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
}

#tryout2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
}

.product-name{
    font-size: 20px;
    margin-bottom: 10px;
}

.product-for{
    font-size: 15px;
    margin-bottom: 25px;
}

.request-button{
    border: 2px solid #222222;
    color: #222222;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;  
    font-size: 12px;
}

.request-button:hover {
    background-color: #72777e;
    color: #ffffff
}
/*form and try out style end*/

/*---------------------------------------*/


/*footer style*/

#footer{
    background-color:  #222222;
    margin-right: -11px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 50px 700px 1px;
}

#footer a{
    color: #787d85;
    text-decoration: none;
}
#footer a:active{
    color: #ffffff;
}
#footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-info{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 50% 2% 50%;
    grid-template-rows: 45% 32% 10%;
    border-bottom:none;
}


    #footer-block1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        line-height: 26px;

    }

    #footer-block2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        line-height: 26px;

    }

    #footer-block3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3; 
        line-height: 26px;

    }

    #footer-block4{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; 
    }


    #footer-block4 a img{
        width:28%;
        margin-right: 10px;
    }


        #input-container { 
            position:relative; 
            padding:0; 
            margin:0; 
            background-color: #222222;
        }
        .search-box {
            
            height:30px;
            width: 90%; 
            margin-top:30px; 
            padding-left: 5px; 
            background-color: #222222;
            color: #787d85;
            border: 2px solid #787d85
        }
    
        #input-img { 
            position:absolute; 
            bottom:12px; 
            left: 80%; 
            width:14px; 
            height:14px; 
        }


    .footer-names{
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 19px;
    }

#footer-credentials{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #787d85;
    display: grid;
    grid-template-rows: 40% 30% 10%;
    grid-template-columns: 1% 98% 1%;
    font-size: 12px;
    padding-top: 0px;
}
    #credits1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        border-bottom: none;
        margin-top: 10%;
        border-top: 1px solid #333333;
    }
    #credits2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left : 0px;
        border-bottom: none;
        margin-top: 10%;
        border-top: 1px solid #333333;


    }
    #credits3{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left: 0px;
        margin-top: 10%;
        border-top: 1px solid #333333;


    }


/*footer style end*/

/*---------------------------------------*/


/*WHEN PHONE IS IN LANDSCAPE*/

