<div id="footer">
    <div id="footer-info">
        <div id="footer-block1">
            <div class="footer-names">Softswitches</div>
            <ul>
                <li><a href="#">Class 4 Softswitch</a></li>
                <li><a href="#">Class 5 Softswitch</a></li>
                <li><a href="#">VoIP Billing</a></li>
                <li><a href="#">VoIP Routing</a></li>
                <li><a href="#">VoIP Reporting</a></li>
                <li><a href="#">Add-ons</a></li>
                <li><a href="#">Try MOR/M2</a></li>
                <li><a href="#">Pricing</a></li>
            </ul>
        </div>
        <div id="footer-block2">
            <div class="footer-names">Solutions</div>
            <ul>
                <li><a href="#">Wholesale VoIP</a></li>
                <li><a href="#">Business VoIP</a></li>
                <li><a href="#">Residential VoIP</a></li>
                <li><a href="#">PINless and Calling Cards</a></li>
                <li><a href="#">E-book about VoIP Business</a></li>
                <li><a href="#">Voice-Broadcasting</a></li>
                <li><a href="#">Callback</a></li>
                <li><a href="#">Callshop</a></li>
            </ul>
        </div>
        <div id="footer-block3">
            <div class="footer-names">Company</div>
            <ul>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Certificates</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>    
        </div>
        <div id="footer-block4">
            <div class="footer-names">Follow us</div>
            <a href="#"><img src="images/mail.png"></a>
            <a href="#"><img src="images/facebook.png"></a>
            <div id="input-container">
                <input type="text" class="search-box" placeholder="Search phrase">
                <img src="images/search.png" id="input-img">
            </div>
        </div>
        <div id="footer-credentials">
            <div id="credits1">Ⓒ 2018 Kolmisoft UAB, Kareivių 6-405, Vilnius</div>
            <div id="credits2">P: <a href="tel:+37052058393">+37052058393</a></div>
            <div id="credits3">E: <a href="mailto:info@kolmisoft.com">info@kolmisoft.com</a></div>
        </div>    
    </div>
</div>