<div class="header">
    <div class="logo">
        <img src="images/logo.png" >
    </div>
    <a href="#" class="icon" onclick="mobileMeniu()"><i class="fa fa-bars"></i></a>

        <!-- <div class="horizontal"> -->
            <ul class="navbar" id="meniu">
                <li class="home"><a href="#">Home</a></li>
                <li class="softswitches"><a href="#">Softwitches</a></li>
                <li class="dropdown" ><a href="#" onmouseover="dropdownFunction()" class="dropbutton">Solutions</a></li>
                <div  id="dropdown" class="meniu-dropdown"> 
                    <a href="#">Wholesale VoIP</a>
                    <a href="#">Business VoIP</a>
                    <a href="#">Residential VoIP</a>
                    <a href="#">PINless and Calling Cards</a>
                    <a href="#">Voice-Broadcasting</a>
                    <a href="#">E-book About VoIP Business</a>
                    <a href="#">Callback</a>
                    <a href="#">Callshop</a>
                </div>
                <li class="company"><a href="#">Company</a></li>
                <li class="news"><a href="#">News</a></li>
                <li class="contacts"><a href="contact.php">Contacts</a></li>
            </ul>

        <!-- </div> -->
  </div>
